<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :exercise_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :exercise_body %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_area :answer, id: :exercise_answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
