<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @exercise.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @exercise.body %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @exercise.answer %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
